<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div class="container justify-content-center my-5">
    <div class="row justify-content-center my-5">
        <div class="stranica">

            <center><img src="/images/tv.png" style="text-align: center!important;" ></center>
            <p class="text">
                1. &nbsp;Prvo pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                2. &nbsp; Drugo pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                3. &nbsp; Trece pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                4. &nbsp; Cetvrto pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                5. &nbsp;Peto pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                6. &nbsp; Šesto pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                7. &nbsp; Sedmo pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                8.&nbsp;  Osmo pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                9. &nbsp; Deveto pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
                10. Deseto pravilo naslov<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neki tekst za prvo pravilo koji glasi bla bla bla bla bla ti napisi tu nesto sta mislis.<br/>
            </p>
            <a href="<%=link%>" ><input type="button" value="Pocetna strana"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
